// Mixin
// Set các giá trị với màn hình tương ứng
// Max width
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

$primary-color: #518f3c;
$secondary-color: #a3e48e;
$background-color: #fff;

@mixin xs {
	@media (max-width: #{$xs - 1px}) {
		@content;
	}
}

@mixin sm {
	@media (max-width: #{$sm - 1px}) {
		@content;
	}
}

@mixin md {
	@media (max-width: #{$md - 1px}) {
		@content;
	}
}

@mixin lg-min {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin xl-min {
	@media (min-width: $xl) {
		@content;
	}
}

@mixin shadow {
	box-shadow: 0 1.3px 2.2px rgb(56 110 38 / 20%), 0 4.5px 6.5px rgb(36 70 25 / 18%), 4px 15px 19px rgb(35 60 26 / 15%);
}
